html{
    font-size: 62.5%;
}
body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: #0d6efd;
}
div{
    display: flex;
    justify-content: center;
}
.img {
    position: relative;
    width: 20%;
    top: 0.5rem;
    right: 0.2rem;
    border-radius: 10% 90% 10% 90%;
}
.pres{
    margin-bottom: 5rem;
    text-align: center;
    width: 20rem;
}
#presentation{
    
    text-align: center;
}
h1,p{
    font-size: medium;
}
.demo1txt{
    display: relative;
    text-align: center;
    width: 50rem;
    height: 50rem;

}
.demo1{ 
    width: 20rem;
    height: 20rem;
    border: 5px solid rgb(19, 27, 182);
    border-radius: 50%;
}
.demo2txt{
    display: relative;
    text-align: center;
    width: 50rem;
    height: 50rem;
}
.demo2{
    width: 20rem;
    height: 20rem;
    border-radius: 90% 53% 23% 90%;
}
.demo3txt{
    display: relative;
    text-align: center;
    width: 50rem;
    height: 50rem;
}
.demo3{
   
    width: 20rem;
    height: 20rem;
    border-radius: 10% 10% 10% 90%;
}
.demo4txt{
    display: relative;
    text-align: center;
    width: 50rem;
    height: 50rem;
}
.demo4{
   
    width: 20rem;
    height: 20rem;
    
}
.contact{
   
    text-align: center;
    font-size: 2rem;

}
a{
    color: #0d6efd;
    margin: 2px;
}